
<div class="container text-center p-3">
  <h1 style="margin-bottom: 30px;">Your favorite recommendations are ready for you, <%= current_user.full_name.capitalize %></h1>

  <div class="row justify-content-center ">
    <div class="col-sm-8 my-3">
      <%= form_with url: bookmarks_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "belt, waist, dress, shoulder ..."
          %>
        <%= submit_tag "ðŸ§šðŸ» Search", name: "", class: "btn btn-fairy btn-light" %>
      <% end %>
    </div>
  </div>

  <% @bookmarks.each do |bookmark| %>
  <div class="card-recommendation">
    <div class="card-header <%= bookmark.recommendation.check_silhouette %>">
        <dl class="details">
          <div>
            <dt>Item</dt>
            <dd class="title"><%= bookmark.recommendation.item %></dd>
          </div>

          <div>
            <dt>Body Part</dt>
            <dd><%= bookmark.recommendation.body_part %></dd>
          </div>

          <div>
            <dt>Function</dt>
            <dd><%= bookmark.recommendation.function %></dd>
          </div>

          <div>
            <%= link_to  bookmark_path(bookmark), data: {turbo_method: :delete } do %>
              <i class="fa-solid fa-bookmark" style="color: #ffffff;"></i>
            <% end %>
          </div>
        </dl>
    </div>


          <div class="card-body <%= bookmark.recommendation.check_silhouette %>-transparent mb-3">
            <div class="card-image me-2">
              <% if bookmark.recommendation.photo.key %>
                <%= cl_image_tag bookmark.recommendation.photo.key, onclick: "openModal(this)" %>
              <% end %>
          </div>

          <div class="card-info">
            <p class="info"><%= bookmark.recommendation.description %></p>
          </div>
      </div>
  </div>
  <% end %>
</div>

<div id="imageModal" class="modal" style="display:none; position: fixed; z-index: 1050; left: 0; top: 160px; width: 100%; height: 100%; overflow: auto; background-color: rgba(255,255,255,0.5)">
  <div class="modal-content" style="margin: 40px auto; padding: 20px; width: 80%; max-width: 700px; text-align: center; background: white;">
    <span class="close" style="float:right; font-size: 28px; font-weight: bold; cursor: pointer;">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </span>
    <img src="" id="popupImg" style="width: 100%; max-width: 100%;">
  </div>
</div>

<script>
  function openModal(img) {
    var modal = document.getElementById('imageModal');
    var modalImg = document.getElementById('popupImg');
    var captionText = document.getElementById('caption');
    modal.style.display = "block";
    modalImg.src = img.src;

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
      modal.style.display = "none";
    }
  }

  window.onclick = function(event) {
    var modal = document.getElementById('imageModal');
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
