<div class="container text-center p-3">
<h1 style="margin-bottom: 30px;">Style recommendations are ready for you <%= current_user.full_name.capitalize %></h1>

<div class="row justify-content-center ">
  <div class="col-sm-8 my-3">
    <%= form_with url: recommendations_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "belt, waist, dress, shoulder ..."
        %>
      <%= submit_tag "ðŸ§šðŸ» search", name: "", class: "btn btn-fairy btn-light" %>
    <% end %>
  </div>
</div>

<% @recommendations.each do |recommendation| %>
  <div class="card-recommendation">

    <div class="card-header <%= recommendation.exchangeable.neutral_silhouette %>">

        <dl class="details">
          <div>
          <dt>Item</dt>
          <dd class="title"><%= recommendation.item %></dd>
          </div>

          <div>
            <dt>Body Part</dt>
            <dd><%= recommendation.body_part %></dd>
          </div>

          <div>
            <dt>Function</dt>
            <dd><%= recommendation.function %></dd>
          </div>

        <div class=" d-flex justify-content-center align-items-center" >
            <% if current_user.recommendations.include?(recommendation) %>
                <%= link_to  bookmark_path(recommendation.bookmarks.where(user: current_user).first), data: {turbo_method: :delete } do %>
                  <i class="fa-solid fa-bookmark" style="color: #ffffff;"></i>
                <% end %>
              <% else %>
                <%= link_to  recommendation_bookmarks_path(recommendation), data: {turbo_method: :post } do %>
                  <i class="fa-regular fa-bookmark" style="color: #ffffff;"></i>
                <% end %>
              <% end %>
          </div>
        </dl>

      </dl>
    </div>
    <div class="card-body <%= recommendation.exchangeable.neutral_silhouette %>-transparent mb-3">
      <div class="card-image me-2">
      <% if recommendation.photo.key %>
        <%= cl_image_tag recommendation.photo.key  %>
        <% end %>
      </div>
      <div class="card-info">
        <p class="info"><%= recommendation.description %></p>
      </div>
    </div>
  </div>
      <% end %>
</div>
