<div class="container text-center p-3">
<h1 style="margin-bottom: 30px;">Style recommendations are ready for you <%= current_user.full_name.capitalize %></h1>

<div class="row justify-content-center ">
  <div class="col-sm-8 my-3">
    <%= form_with url: recommendations_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "belt, waist, dress, shoulder ..."
        %>
      <%= submit_tag "ðŸ§šðŸ» search", name: "", class: "btn btn-fairy btn-light" %>
    <% end %>
  </div>
</div>

<% @recommendations.each do |recommendation| %>
  <div class="card-recommendation">

    <div class="card-header <%= recommendation.exchangeable.neutral_silhouette %>">

        <dl class="details">
          <div>
          <dt>Item</dt>
          <dd class="title"><%= recommendation.item %></dd>
          </div>

          <div>
            <dt>Body Part</dt>
            <dd><%= recommendation.body_part %></dd>
          </div>

          <div>
            <dt>Function</dt>
            <dd><%= recommendation.function %></dd>
          </div>

        <div class=" d-flex justify-content-center align-items-center" >
            <% if current_user.recommendations.include?(recommendation) %>
                <%= link_to  bookmark_path(recommendation.bookmarks.where(user: current_user).first), data: {turbo_method: :delete } do %>
                  <i class="fa-solid fa-bookmark" style="color: #ffffff;"></i>
                <% end %>
              <% else %>
                <%= link_to  recommendation_bookmarks_path(recommendation), data: {turbo_method: :post } do %>
                  <i class="fa-regular fa-bookmark" style="color: #ffffff;"></i>
                <% end %>
              <% end %>
          </div>
        </dl>

      </dl>
    </div>
    <div class="card-body <%= recommendation.exchangeable.neutral_silhouette %>-transparent mb-3">
      <div class="card-image me-2">
      <% if recommendation.photo.key %>
                <%= cl_image_tag recommendation.photo.key, onclick: "openModal(this)" %>
              <% end %>
      </div>
      <div class="card-info">
        <p class="info"><%= recommendation.description %></p>
      </div>
    </div>
  </div>
      <% end %>
</div>

<div id="imageModal" class="modal" style="display:none; position: fixed; z-index: 1050; left: 0; top: 160px; width: 100%; height: 100%; overflow: auto; background-color: rgba(255,255,255,0.5)">
  <div class="modal-content" style="margin: 40px auto; padding: 20px; width: 80%; max-width: 700px; text-align: center; background: white;">
    <span class="close" style="float:right; font-size: 28px; font-weight: bold; cursor: pointer;">
      <i class="fa-regular fa-rectangle-xmark"></i>
    </span>
    <img src="" id="popupImg" style="width: 100%; max-width: 100%;">
  </div>
</div>

<script>
  function openModal(img) {
    var modal = document.getElementById('imageModal');
    var modalImg = document.getElementById('popupImg');
    var captionText = document.getElementById('caption');
    modal.style.display = "block";
    modalImg.src = img.src;

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
      modal.style.display = "none";
    }
  }

  window.onclick = function(event) {
    var modal = document.getElementById('imageModal');
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
