<div data-controller="chatroom-subscription"
    class="container chatroom"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="d-flex justify-content-around">
    <h1 class="text-center">Hey there, fabulous! Let's sprinkle some style magic.</h1>
    <div class="chatroom-profile-pic mt-3">
      <%= image_tag "IMG_6079.jpg", style: "width:140px; border-radius:130px;"  %>
    </div>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
</div>
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
    %>
      <%= f.input :content,
      label: false,
      placeholder: "Message your AI stylist...",
      wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn chat-button mb-3" %>
    <% end %>
</div>
