<div class="index-container ">
  <h2>Explore silhouettes below:</h2>
<div class="grid-container d-flex flex-column justify-content-center w-75 mx-auto">
    <% @silhouettes.each do |silhouette| %>
  <%= link_to silhouette_path(silhouette), class:"text-decoration-none" do  %>
    <div class="card <%=silhouette.neutral_silhouette.gsub(" ","_")%> my-3 p-2 index-silhouette-bar">
      <%= cl_image_tag silhouette.photo.key, class: "img-fluid small-image" %>
    <%# <%= image_tag('eight_overlap (1).png', alt: 'rectangle',class: 'img-fluid small-image') %>
    The <%= silhouette.neutral_silhouette.upcase %>
    </div>
  <% end %>
<% end %>
</div>


<div class="see-recommendations">
    <%= link_to select_silhouette_path, class: "category-filter btn btn-pink" do %>Select your silhouette
      <i class="fa-solid fa-arrow-right fa-2xl white-icon"></i>
<% end %>
</div>
</div>
