<div class="show-container">
  <div class= "silhouette-category">
    <%= @silhouette.category %>
  </div>

<div class= "container silhouette-card">
  <div class= "silhouette-graphic-description d-flex">
    <div class= "col-2">
      <%= cl_image_tag @silhouette.photo.key, class: 'img-fluid small-image' %>
    </div>
    <div class= "col-10 ps-2">
      <h1><%= @silhouette.neutral_silhouette.upcase %></h1>
      <h2>Your natural silhouette is the <%= @silhouette.neutral_silhouette.capitalize %> if:</h2>
    </div>
  </div>



  <div class= "silhouette-text-description container">
    <div class="no-patience ">
      <%= raw @silhouette.description%>
    </div>
  </div>
</div>

  <div class= "footer-pic d-flex justify-content-end">
    <%= cl_image_tag @silhouette.photo.key, class: "img-body" %>
  <div class="see-recommendations btn btn-pink">
    <%= link_to silhouettes_path, class: "text-light" do %> <i class="fa-solid fa-arrow-left fa-2xl white-icon"></i>
      <strong class="back">back</strong>
    <% end %>
  </div>
  </div>
  </div>
