<div data-controller="select-silhouette" class="select-container">
  <div class="card-select  text-center">
    <h1>Pick your silhouette match!</h1>
  </div>


  <div class="select-grid">
    <div  class="row g-3 col-12">
      <% @silhouettes.each do |silhouette|  %>
        <div data-select-silhouette-target="silhouetteCard" data-action="click->select-silhouette#select" data-id="<%=silhouette.id %>" class="d-flex card justify-content-around col-4">
          <div class="card-silhouette-select bg-light">
            <%= image_tag "solid_#{silhouette.neutral_silhouette.gsub(" ","_")}.png", class: "img-symbol" %>
            <div><%= cl_image_tag silhouette.photo.key, class: "img-body" %></div>
            <span><%= silhouette.neutral_silhouette %></span>
          </div>
        </div>
      <% end %>
    <%= simple_form_for(@user_silhouette) do |f| %>
      <%= f.input :silhouette_id, as: :hidden, input_html: { data: {select_silhouette_target:  "inputId" } } %>
      <div class="discover-shape">
        <%= f.submit "Go to your Silhouette Match!", class: "btn btn-pink"  %>
      </div>
    <% end %>
    </div>
  </div>
</div>
