
<div data-controller="select-transition">
<div class="transitions-container">
<%= render "shared/general_card_silhouette" %>



<div class="goal-cards-container" data-controller="goal-cards" >
<div class="goals">
  <% @transitions.each do |transition|%>
    <a class="card-click" data-action="click->select-transition#select" data-transition-id="<%=transition.id %>">
      <div class="goal-card wrapper <%= transition.goal.gsub(" ","_") %>-transparent card-my-silhouette d-flex flex-column align-items-center rounded rounded-2">
        <div class="card-silhouette <%= transition.goal.gsub(" ","_")  %> d-flex px-2 w-100 py-1 rounded rounded-2 overflow-hidden align-items-center">
          <div>
          <%= image_tag "solid_#{Silhouette.where(neutral_silhouette: transition.goal).first.neutral_silhouette.gsub(" ","_")}.png", style: "width:40px", class: "rounded-circle border bg-white mx-2" %>
          </div>
          <p class="text-white m-0"><%= transition.goal.upcase  %></p>
        </div>
          <div class="img-silhouette py-4">
          <%= cl_image_tag Silhouette.where(neutral_silhouette: "#{transition.goal}").first.photo.key, style: "height:100px"  %>
          </div>
      </div>
    </a>
  <% end %>
</div>
</div>
</div>



<% @transitions.each do |transition| %>
  <div data-select-transition-target="transition" data-transition-id="<%=transition.id %>" class="d-none p-3">
  <% transition.recommendations.each do |recommendation| %>
      <div class="transition-goal-title category-filter btn btn-pink" ><%= transition.goal.upcase%>  </div>
    <div class="card recommendation">

      <div class="card-header <%= transition.goal%> ">
          <dl class="details">
          <div>
            <dt>Item</dt>
            <dd><%= recommendation.item %></dd>
          </div>
          <div>
            <dt>Body Part</dt>
            <dd><%= recommendation.body_part %></dd>
          </div>
          <div>
            <dt>Function</dt>
            <dd><%= recommendation.function %></dd>
          </div>

          <div>
            <% if current_user.recommendations.include?(recommendation) %>
                <%= link_to  bookmark_path(recommendation.bookmarks.where(user: current_user).first), data: {turbo_method: :delete } do %>
                  <i class="fa-solid fa-heart" style="color: #ff000d;"></i>
                <% end %>
              <% else %>
                <%= link_to  recommendation_bookmarks_path(recommendation), data: {turbo_method: :post } do %>
                  <i class="fa-regular fa-heart" style="color: #ff000d;"></i>
                <% end %>
              <% end %>
          </div>

        </dl>
      </div>
      <div class="card-body <%= transition.goal%>-transparent">
        <div class="card-image">
          <img src="https://via.placeholder.com/150" alt="Placeholder Image">
        </div>
        <div class="card-info">
          <p class="info"><%= recommendation.description %></p>


          </button>
        </div>
      </div>
    </div>
  <% end %>
    </div>
  <% end %>
</div>
