
<div class="container-profile d-flex flex-column align-items-center" >

  <div class="card-image d-flex flex-column align-items-center">
    <div class="img-profile  img-fluid d-flex flex-column justify-content-center" >
      <%= image_tag "sifem_photo.jpeg", class:"profile-image my-3" %>
      <div class="text-profile text-center">
          <h2>Hi <%= current_user.full_name.capitalize %></h2>
          <p>Your Silhouette Profile</p>
      </div>
    </div>


    <div class="card-silhouette-profile d-flex">

     <div class="row">

     <div class="col-6">

      <div class="card-my-silhouette d-flex flex-column align-items-center rounded rounded-3">
        <div class="card-silhouette d-flex px-2 py-2 rounded rounded-3 overflow-hidden align-items-center">
          <div>
          <%= image_tag "solid_rectangle", style: "width:40px", class: "rounded-circle border bg-white me-2" %>
          </div>
          <p class="text-white m-0"><%= current_user.silhouettes.first.neutral_silhouette.upcase %></p>
        </div>
          <div class="img-silhouette d-flex align-items-center justify-content-center">
          <%= image_tag "1", style: "width: 80px"  %>
          </div>
      </div>
</div>

<div class="col-6">
      <div class="card-my-recommendation d-flex flex-column align-items-center rounded rounded-3">
        <div class="card-recommendation d-flex px-2 py-2 rounded rounded-3 overflow-hidden align-items-center">
          <div>
          <%= image_tag "kalp", style: "width:40px", class: "rounded-circle border bg-white me-2" %>
          </div>
          <p class="text-white m-0"><%="FAVORITES"%></p>
        </div>
          <div class="img-silhouette d-flex align-items-center justify-content-center text-center">
            <p class="m-0">
              <%= current_user.bookmarks.count %> <br> Recommendations
            </p>
          </div>
      </div>
</div>
      </div>
    </div>
  </div>





<div class="card=buttons d-flex flex-column justify-content-center p-5">
    <p class="text-profile" >Discover more in the below sections to build your personal style</p>

    <div class="card-profile-buttons row">
      <%= link_to "Recommendations", user_recommendations_path(current_user), class: "profile-button-recommendations btn btn-success my-2"  %>
      <%= link_to "Silhouette Transitions", user_recommendations_path(current_user), class: "profile-button-transitions btn btn-warning my-2"  %>
      <%= link_to "Talk to your AI Stylist", user_recommendations_path(current_user), class: "profile-button-ai btn btn-info my-2 text-white"  %>
    </div>

    <div class="text-profile mt-4">
      <p>"You have but one life to live. Dare to be beautiful."</p>
    </div>

</div>
</div>
